body {
  display: flex;
  justify-content: space-around;
}

#control_pannel {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 100px;
}

#Set_size {
  width: 100px;
  height: 50px;
}

.btn_pen {
  width: 100px;
  height: 50px;
  background-color: aliceblue;
}

.btn_on {
  background-color: aqua;
}

.content_container {
  display: flex;
  width: 800px;
  height: 800px;
}

.row {
  display: flex;
  flex: 1;
}

.grid {
  display: flex;
  border: 2px solid black;
  flex: 1;
  padding: 0;
  margin: 0;
}

.grid:hover {
  background-color: blue;
}
